<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GPS</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 5.2.1. Copyright (C) 2001-2012, AdaCore</string>
	<key>CFBundleIconFile</key>
	<string>gps.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.adacore.gps</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.2.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2001-2012, AdaCore, GNU General Public License.</string>
	<key>LSEnvironment</key>
	<dict>
		<key>GNAT_HOME</key>
		<string>/usr/local/gnat</string>
		<key>GPR_PROJECT_PATH</key>
		<string></string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
</dict>
</plist>
