<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <title>GPS-OSX - {{ page.title }}</title>
   <link href="/gps-osx/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
   <link href="/gps-osx/css/syntax.css" media="screen" rel="stylesheet" type="text/css"/>
   <style type="text/css"> 
       body {
           padding-top: 60px;
       }
   </style>
</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <a class="brand" href="/gps-osx/">GPS-OSX</a>
            {% for weight in (0..20) %}
            {% for p in site.pages %}
            {% if p.weight == weight %}
            <ul class="nav">
                <li{% if p.url == page.url %} class="active"{% endif %}>
                  <a href="{{ p.url| prepend: '/gps-osx' }}">{{p.title}}</a>
               </li>
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
         </div>
      </div>
   </div>
   
   <a href="https://github.com/flyx86/gps-osx"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
   
   <div class="container">
      <div class="row">
         <article class="span8 offset2">
            {{content}}
         </article>
      </div>
   </div>
   
   <div class="container">
      <div class="row">
         <hr />
         <footer class="span8 offset2">
            <p>
               Powered by <a href="http://pages.github.com/">GitHub Pages</a> and
               <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>.
               Theme by <a href="http://bootswatch.com/">Bootswatch</a>
            </p>
         </footer>
      </div>
   </div>
</body>

</html>